@model IEnumerable<TheWorld2.Models.Trip>

@{ 
    ViewBag.Title = "Home page";
}

<div class="col-md-12">
    <h3>Welcome to the World Travel Map page</h3>
    <p>This page will allow you to plan your trip</p>
    <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View your trips</a>
</div>